# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Project specifics
temp_audio.wav
cough_model.pkl
labels.pkl
RESIZED/
Source/

# OS generated
.DS_Store
Thumbs.db
